# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
audit-server/.env

# Local Netlify folder
.netlify

# AI Trainer
cipguard-ai-trainer/.env
cipguard-ai-trainer/__pycache__/
cipguard-ai-trainer/**/__pycache__/
cipguard-ai-trainer/*.db
cipguard-ai-trainer/data/vectorstore/db/
cipguard-ai-trainer/data/logs/
cipguard-ai-trainer/.venv/
